.img { 
    height: 400px;
    background-color:
    #f0f0f0; 
    transform: translateX(-100%);
    transition: transform 500ms linear;
}

.img.show {
    transform: translateX(0);
}

#item {
    width: 600px;
}

