<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <a class="home__link" href="../index.html">home</a>
        <section class="todo__section">
            <h1 class="todo__title">TODO LIST</h1>
            <form action="" class="todo__form">
                <label class="todo__label">
                    <input type="checkbox" name="task1" class="todo__input">
                    wake up
                </label>
                <label class="todo__label">
                    <input type="checkbox" name="task2" class="todo__input">
                    breakfest
                </label>
                <label class="todo__label">
                    <input type="checkbox" name="task3" class="todo__input">
                    go bed
                </label>
            </form>
        </section>
    </div>

    <script src="../js/task1.js" type="module"></script>
</body>
</html>