<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    

    <ul id="list">
        <li id="item">
            <img data-src="https://cdn.pixabay.com/photo/2019/08/26/03/35/cathedral-4430675_1280.jpg" alt="img1" class="img">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et atque illo, non facilis quo, temporibus eius nemo maiores sapiente labore hic ipsa aliquam dolores laboriosam amet. Enim provident, assumenda repellendus quo hic beatae error labore atque ipsam tempora excepturi voluptatem, doloremque neque velit porro laboriosam rerum necessitatibus corporis fuga iure.
        </li>
        <li id="item">
            <img data-src="https://cdn.pixabay.com/photo/2021/11/19/11/13/duomo-6808817_1280.jpg" alt="img2" class="img">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et atque illo, non facilis quo, temporibus eius nemo maiores sapiente labore hic ipsa aliquam dolores laboriosam amet. Enim provident, assumenda repellendus quo hic beatae error labore atque ipsam tempora excepturi voluptatem, doloremque neque velit porro laboriosam rerum necessitatibus corporis fuga iure.
        </li>
        <li id="item">
            <img data-src="https://cdn.pixabay.com/photo/2016/12/25/19/39/france-1930719_1280.jpg" alt="img3" class="img">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et atque illo, non facilis quo, temporibus eius nemo maiores sapiente labore hic ipsa aliquam dolores laboriosam amet. Enim provident, assumenda repellendus quo hic beatae error labore atque ipsam tempora excepturi voluptatem, doloremque neque velit porro laboriosam rerum necessitatibus corporis fuga iure.
        </li>
        <li id="item">
            <img data-src="https://cdn.pixabay.com/photo/2019/07/17/22/38/bridge-4345139_1280.jpg" alt="img4" class="img">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et atque illo, non facilis quo, temporibus eius nemo maiores sapiente labore hic ipsa aliquam dolores laboriosam amet. Enim provident, assumenda repellendus quo hic beatae error labore atque ipsam tempora excepturi voluptatem, doloremque neque velit porro laboriosam rerum necessitatibus corporis fuga iure.
        </li>
        <li id="item">
            <img data-src="https://cdn.pixabay.com/photo/2018/01/31/12/16/architecture-3121009_1280.jpg" alt="img5" class="img">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et atque illo, non facilis quo, temporibus eius nemo maiores sapiente labore hic ipsa aliquam dolores laboriosam amet. Enim provident, assumenda repellendus quo hic beatae error labore atque ipsam tempora excepturi voluptatem, doloremque neque velit porro laboriosam rerum necessitatibus corporis fuga iure.
        </li>
        <li id="item">
            <img data-src="https://cdn.pixabay.com/photo/2021/11/28/15/31/cathedral-6830531_1280.jpg" alt="img6" class="img">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et atque illo, non facilis quo, temporibus eius nemo maiores sapiente labore hic ipsa aliquam dolores laboriosam amet. Enim provident, assumenda repellendus quo hic beatae error labore atque ipsam tempora excepturi voluptatem, doloremque neque velit porro laboriosam rerum necessitatibus corporis fuga iure.
        </li>
    </ul>

    <button type="button" id="btn">

    </button>

    <script src="../js/task1.js" type="module"></script>
</body>
</html>