<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <img data-src="img1.jpg" alt="img1" class="img">
        <img data-src="img2.jpg" alt="img2" class="img">
        <img data-src="img3.jpg" alt="img3" class="img">
    </div>

    <button type="button" id="btn">

    </button>

    <script src="../js/task1.js" type="module"></script>
</body>
</html>